* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* TYPO */
p {
  color: #fff;
}
/* /TYPO */

/* COLOUR */
.text_white  {
  color: #fff;
}
/* /COLOUR */

/* MIX */
.d_flex {
  display: flex;
}
.v_align_middle {
  vertical-align: middle;
}
.text_center {
  text-align: center;
}
.list_unstyle {
  list-style: none;
}
.m_top_20 {
  margin-top: 20px;
}
.m_top_10 {
  margin-top: 10px;
}
.m_right_10 {
  margin-right: 5px;
}
.m_bottom_20 {
  margin-bottom: 20px;
}
.m_bottom_10 {
  margin-bottom: 10px;
}
.text_uppercase {
  text-transform: uppercase;
}
/* /MIX */

/* MAIN */

main {
  height: calc(100vh - 80px);
}

/* SIDEBAR */

.sidebar {
  background-color: #000;
  width: 250px;
  height: 100%;
  padding: 20px 20px 5px;
  flex-direction: column;
  overflow: hidden;
}

/* Logo */
.sidebar .logo {
  font-size: 30px;
}
.sidebar .logo i {
  font-size: 40px;
}
.sidebar .logo .registered {
  font-size: 5px;
  vertical-align: super;
}

/* Main menu */
.sidebar .main_menu li {
  margin-bottom: 10px;
}
.sidebar .main_menu i {
  font-size: 25px;
  width: 30px;
}

/* Playlist menu */
.sidebar .playlist_menu {
  height: 100%;
  overflow: hidden;
}
.sidebar .playlist_menu i {
  font-size: 50px;
}
.sidebar .playlist_list {
  height: 70%;
  overflow-y: auto;
}
.sidebar .playlist_list li {
  margin-bottom: 10px;
}
/* Sidebar bottom */
.sidebar .sidebar_bottom {
  margin-top: auto;
}

/* /SIDEBAR */

/* CONTENUTO PRINCIPALE */
.main_content {
  background-color: #141922;
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: auto;
  padding-top: 80px;
}
.topbar {
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(100% - 250px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}
/* /CONTENUTO PRINCIPALE */

/* /MAIN */

/* FOOTER */
footer {
  background-color: #282828;
  height: 80px;
  position: relative;
  z-index: 1;
}
/* /FOOTER */

/* RESPONSIVE */

@media screen and (max-width: 767px) {

  .hidden_xs {
    display: none;
  }

  .sidebar {
    width: 50px;
    padding: 5px 10px;
    text-align: center;
  }

  .sidebar .logo i {
    font-size: 30px;
  }

  .main_content, .topbar {
    width: calc(100% - 50px)
  }
}
/* /RESPONSIVE */
