* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* TYPO */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
}
p {
  color: #fff;
}

a {
  text-decoration: none;
  color: #A3A3A3;
}
a:hover {
  color: #fff;
}
/* /TYPO */

/* COLOUR */
.text_white  {
  color: #fff;
}
/* /COLOUR */

/* MIX */
.d_flex {
  display: flex;
}
.v_align_middle {
  vertical-align: middle;
}
.text_center {
  text-align: center;
}
.list_unstyle {
  list-style: none;
}
.mt_20 {
  margin-top: 20px;
}
.mt_10 {
  margin-top: 10px;
}
.mr_5 {
  margin-right: 5px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_10 {
  margin-bottom: 10px;
}

.text_uppercase {
  text-transform: uppercase;
}
/* /MIX */

/* MAIN */

main {
  height: calc(100vh - 80px);
}

/* SIDEBAR */

.sidebar {
  background-color: #000;
  width: 250px;
  height: 100%;
  padding: 20px 0 5px;
  flex-direction: column;
  overflow: hidden;
}

/* Logo */
.sidebar .logo img {
  width: 60%;
}

/* Main menu */
.sidebar .main_menu img {
  height: 25px;
}
.sidebar .main_menu i {
  font-size: 25px;
  width: 30px;
}

/* Playlist menu */
.sidebar .playlist_menu {
  height: 100%;
  overflow: hidden;
}
.sidebar .playlist_menu i {
  font-size: 50px;
}
.sidebar .playlist_list {
  height: calc(100% - 110px);
  overflow-y: auto;
}
/* Sidebar bottom */
.sidebar .sidebar_bottom {
  margin-top: auto;
}
.sidebar .sidebar_bottom .install {
  height: 15px;
}
.sidebar .sidebar_bottom .profile {
  background-color: #A3A3A3;
  border-radius: 100%;
  height: 25px;
}
/* /SIDEBAR */

/* CONTENUTO PRINCIPALE */
.main_content {
  background-color: #141922;
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: auto;
  padding-top: 80px;
}
/* Topbar */
.topbar {
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(100% - 250px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}

.btn {
  border: 1px solid #fff;
  padding: 10px 40px;
  border-radius: 20px;
}
.btn:hover {
  transform: scale(1.05);
}
/* /CONTENUTO PRINCIPALE */

/* /MAIN */

/* FOOTER */
footer {
  background-color: #282828;
  height: 80px;
  position: relative;
  z-index: 1;
}
/* /FOOTER */

/* RESPONSIVE */

@media screen and (max-width: 767px) {

  .hidden_xs {
    display: none;
  }

  .main_menu {
    margin-top: 10px;
  }
  .sidebar {
    width: 50px;
    padding: 5px 0;
    text-align: center;
  }

  .sidebar .logo i {
    font-size: 30px;
  }

  .main_content, .topbar {
    width: calc(100% - 50px)
  }
}

@media screen and (min-width: 768px) {
  .visible_xs {
    display: none;
  }
  .pl_20 {
    padding-left: 20px;
  }
  .selected {
    border-left: 4px solid lightgreen;
    padding-left: 16px;
  }
}
/* /RESPONSIVE */
