* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* TYPO */
p {
  color: #fff;
}
/* /TYPO */

/* COLOUR */
.text_white  {
  color: #fff;
}
/* /COLOUR */

/* MIX */
.d_flex {
  display: flex;
}
.align_middle {
  vertical-align: middle;
}
/* /MIX */

/* MAIN */

main {
  background-color: red;
  height: calc(100vh - 80px);
}

/* Sidebar */
.sidebar {
  background-color: #000;
  width: 250px;
  height: 100%;
  padding: 20px;
}
.logo {
  font-size: 30px;
}
.logo i {
  font-size: 40px;
}
.registered {
  font-size: 5px;
  vertical-align: super;
}
/* Contenuto principale */
.main_content {
  background-color: #141922;
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: auto;
  padding-top: 80px;
}
.topbar {
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(100% - 250px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}
/* /MAIN */

footer {
  background-color: #282828;
  height: 80px;
}

/* RESPONSIVE */

@media screen and (max-width: 767px) {

  .hidden_xs {
    display: none;
  }

  .sidebar {
    width: 50px;
    padding: 0 10px;
  }

  .logo i {
    font-size: 30px;
  }

  .main_content, .topbar {
    width: calc(100% - 50px)
  }
}
/* /RESPONSIVE */
