* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* TYPO */
body {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
}
p {
  color: #fff;
}

a {
  text-decoration: none;
  color: #A3A3A3;
}
a:hover {
  color: #fff;
}
/* /TYPO */

/* COLOUR */
.text_white  {
  color: #fff;
}
.text_grey {
  color: #A3A3A3;
}
/* /COLOUR */

/* MIX */
.d_flex {
  display: flex;
}
.inline_block {
  display: inline-block;
}
.v_align_middle {
  vertical-align: middle;
}
.text_center {
  text-align: center;
}
.text_right {
  text-align: right;
}
.list_unstyle {
  list-style: none;
}
.list_inline {
  display: flex;
  list-style: none;
}
.list_inline > li {
  padding: 0 5px;
}
.mt_20 {
  margin-top: 20px;
}
.mt_10 {
  margin-top: 10px;
}
.mr_5 {
  margin-right: 5px;
}
.mr_10 {
  margin-right: 10px;
}
.mr_20 {
  margin-right: 20px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_10 {
  margin-bottom: 10px;
}
.text_uppercase {
  text-transform: uppercase;
}
/* /MIX */

/* MAIN */

main {
  height: calc(100vh - 80px);
}

/* SIDEBAR */

.sidebar {
  background-color: #000;
  width: 250px;
  height: 100%;
  padding: 20px 0 5px;
  flex-direction: column;
  overflow: hidden;
}

/* Logo */
.sidebar .logo img {
  width: 60%;
}

/* Main menu */
.sidebar .main_menu img {
  height: 25px;
}
.sidebar .main_menu i {
  font-size: 25px;
  width: 30px;
}

/* Playlist menu */
.sidebar .playlist_menu {
  height: 100%;
  overflow: hidden;
}
.sidebar .playlist_menu i {
  font-size: 50px;
}
.sidebar .playlist_list {
  height: calc(100% - 110px);
  overflow-y: auto;
}
/* Sidebar bottom */
.sidebar .sidebar_bottom {
  margin-top: auto;
}
.sidebar .sidebar_bottom .install {
  height: 15px;
}
.sidebar .sidebar_bottom .profile {
  background-color: #A3A3A3;
  border-radius: 100%;
  height: 25px;
}
/* /SIDEBAR */

/* CONTENUTO PRINCIPALE */
.main_content {
  background-color: #141922;
  width: calc(100% - 250px);
  height: 100%;
  overflow-y: auto;
  padding-top: 80px;
}
/* Topbar */
.topbar {
  background-color: rgba(0, 0, 0, 0.5);
  width: calc(100% - 250px);
  height: 80px;
  position: fixed;
  top: 0;
  right: 0;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25px;
}

.btn {
  border: 1px solid #fff;
  padding: 10px 40px;
  border-radius: 20px;
}
.btn:hover {
  transform: scale(1.05);
}

/* Content menu */
.content_menu {
  width: 80%;
  margin: auto;
}
.content_menu__list {
  justify-content: center;
  flex-wrap: wrap;
}
.content_menu__list li {
  margin: 10px 0;
}
.content_menu__list > li:first-child::after {
  content: "";
  display: block;
  margin: auto;
  width: 30px;
  border: 1px solid lightgreen;
  border-radius: 1px;
}
/* /CONTENUTO PRINCIPALE */

/* /MAIN */

/* FOOTER */
footer {
  background-color: #282828;
  height: 80px;
  position: relative;
  z-index: 1;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
footer a {
  color: #fff;
}
/* .box  {
  background-color: pink;
  border: 1px solid black;
} */

/* Current song */
.current_song {
  width: 30%;
}
.current_song img {
  width: 20%;
  max-width: 50px;
}
.current_song__title {
  width: 40%;
  max-width: 130px;
}
.current_song__icon {
  width: 20%;
  font-size: 15px;
}

/* Player main */
.player_main {
  width: 40%;
}
.player_main__control i {
  font-size: 18px;
  vertical-align: middle;
  margin: 0 5px;
}
.player_main__control .fa-play-circle {
  font-size: 30px;
}
.player_main__timer span {
  font-size: 8px;
}
.player_main__bar {
  width: 60%;
  margin: 10px;
  border-radius: 2px;
  background-color: #A3A3A3;
}
.player_main__reproduced {
  width: 20%;
  border: 2px solid lightgrey;
  border-radius: 2px;
}
/* Player secondary */
.player_secondary {
  width: 30%;
}
.player_secondary i {
  margin: 0 4px;
}
.player_secondary__audio {
  width: 40%;
  margin: 10px;
  border-radius: 2px;
  background-color: #A3A3A3;
}
.player_secondary__reproduced_audio {
  width: 30%;
  border: 2px solid lightgrey;
  border-radius: 2px;
}
/* /FOOTER */

/* RESPONSIVE */

@media screen and (max-width: 600px) {

  .hidden_xs {
    display: none;
  }

  .main_menu {
    margin-top: 10px;
  }
  .sidebar {
    width: 50px;
    padding: 5px 0;
    text-align: center;
  }

  .sidebar .logo i {
    font-size: 30px;
  }

  .main_content, .topbar {
    width: calc(100% - 50px)
  }
}

@media screen and (min-width: 599px) {
  .visible_xs {
    display: none;
  }
  .pl_20 {
    padding-left: 20px;
  }
  .selected {
    border-left: 4px solid lightgreen;
    padding-left: 16px;
  }
}
/* /RESPONSIVE */
